<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- bootsrap css link/ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- /bootstrap js link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Jquery link -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!-- ajax cnd  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"
        integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <!-- main container -->
    <div class="container my-5">

        <!-- button container -->
        <div class="container">
            <button class="btn btn-success" id="show-div">Post Data</button>

            <div class="container my-3" id="form-div">

                <!-- name div/ -->
                <div class="mb-3">
                    <input type="text" name="name" id="name" placeholder="Enter Your Name" class="form-control" required>  
                </div>

                <!-- roll div/ -->
                <div class="mb-3">
                    <input type="text" name="roll" id="roll" placeholder="Enter Your Roll Number" class="form-control" required>  
                </div>

                <!-- loction div/ -->
                <div class="mb-3">
                    <input type="text" name="loc" id="loc" placeholder="Enter Your Loction" class="form-control" required>  
                </div>

                <!-- submit div/ -->
                <div class="mb-3">
                    <input type="submit" value="submit" class="btn btn-success"
                    onclick="postdata()">  
                </div>

            </div>

        </div>

        <!-- table container -->
        <div class="container my-5">
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Roll Number</th>
                    <th>Location</th>

                </thead>
                <tbody id="tbody">
                        

                </tbody>
            </table>
        
        </div>



    </div>




    <script>
        function getalldata() {
            // console.log('button request')
            axios.get('http://127.0.0.1:8000/api/').then(function(resp){
                    // console.log(resp.data)

                var tbody=document.getElementById('tbody');
                tbody.value='';


                for (var i in resp.data){
                    var rowdata=`
                    
                    <tr>
                        <td>${resp.data[i].name}</td>
                        <td>${resp.data[i].roll}</td>
                        <td>${resp.data[i].loc}</td>

                    </tr>`

                        tbody.innerHTML += rowdata
                }



            }).catch(function(err){
                alert(err)
            })
        }
        getalldata()


        // form div logic

        $('#form-div').hide();

        $('#show-div').click(function(){
            $('#form-div').show(1000);
        })

        function postdata(){

            var name=document.getElementById('name');
            var roll=document.getElementById('roll');
            var loc=document.getElementById('loc');

            var formData= new FormData();
            formData.append('name',name.value)
            formData.append('roll',roll.value)
            formData.append('loc',loc.value)
            formData.append('csrfmiddlewaretoken','{{csrf_token}}')



            axios.post('http://127.0.0.1:8000/api/',formData).then(function(){
                $('#form-div').hide(1000);
                name.value=''
                roll.value=''
                loc.value=''

            }).catch(function(err){
                alert(err)
            })

        }

        
    </script>
</body>

</html>